body {
  text-align: center;
}

.message-list {
  background-color: #FFF0A5;
  padding: 20px;
}

h1 {
  color: #FFB03B;
}

.post {
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  color: #468966;
}

.topnav {
  background-color: rgb(122, 14, 14);
  overflow: hidden;
  width: 350px;
  margin: auto;
  display: flex; 
  justify-content: center;
  padding: -5px;
}

.link {
  color: rgb(122, 14, 14);
}

a {
  text-decoration: none;
  color: white;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
  }
